body {
  padding: 20px;
}

.devtools #container div.event,div.update {
  margin-bottom: 15px;
}

.devtools #container div.event {
  padding-left: 5px;
  border-left: thick solid #ffd500;
}

.devtools #container div.event.event_session_ping {
  font-size: 80%;
}

.devtools #container span.header .event-name,.action {
  font-weight: bolder;
}

.devtools #container div.update {
  padding-left: 5px;
  border-left: thick solid #0fd8ff;
}

.devtools #identity {
  float: left;
}

.devtools #btnClear {
  float: right;
}

.devtools #container {
  clear: both;
}

.devtools #container div.event pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}