  <h1>You can find EXPONEA Console in Developer tools</h1>
  <p>Use the keyboard shortcuts Ctrl+Shift+I (Windows) or Cmd+Opt+I (Mac)</p>
  <form name="settingsForm">
    <fieldset><legend>Advanced settings</legend>
      <label for="apiEndpoints">API Endpoints:</label>
      <textarea rows="3" cols="40" id="apiEndpoints"></textarea>
      <input type="checkbox" name="incognito" id="incognito" /><label id="incognito" style="vertical-align: bottom">Disable tracking</label><br>
      <input type="submit" name="reset" value="Reset" /> <input type="submit" name="save" value="Save" /> 
    </fieldset>
  </form>